@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Serif&family=Lilita+One&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Playfair+Display&family=Unbounded&display=swap');

:root {
    --color-background:#F3F3F3;
    --color-background-nav:#1a1919;
    --color-background-home:#ffadc5;
    --color-text-light:#EDEDED;
    --color-text-title:#ff55a4;
    --color-text-dark:#3D3D3D;
    --color-background-footer:#1a1919;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* faz com que o padding e margin sejam considerados dentro da largura e altura dos elementos */
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(216, 216, 216);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #444444;    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
  }

/* Cor de fundo padrão para todo o documento*/
html, body{
    background-color: var(--color-background);
}

a{
    text-decoration: none;
    transition: 0.2s opacity; /* demora 0.2 segundos para chegar na opacity de 0.8 */
}

a:hover{
    opacity: 0.8; /* Como não temos uma cor padrão, deixar o opacity para ele mudar quando colocar o mouse em cima*/
}